%h1 All Available Parts

//displays all parts in a card design style
%div.container
  %div.layout-grid
    //loop every part available
    - @part_infos.each do |part|
      %div.child
        - part_img = part.name.downcase.gsub(' ', '-')
        = link_to categories_url(:selected_category_id => part.category_id, :selected_part_id => part.id) do
          %div.centered-img-container
            //if the image cannot be found it loads the categories's image, else it loads the part's image
            %img{:src => (FileTest.exist? Rails.root.join("app/assets/images/products/#{part_img}.jpg")) ? "/assets/products/#{part_img}.jpg" : "/assets/thumbnails/#{part.category_name.downcase}.jpg", image_alt: part_img, id: part_img}
        //lists the manufacturer, part name and price
        %h2= "#{part.manufacturer_name} - #{part.name}"
        %h4= "£%d" % [part.price]