%h1
  =t('listings.your_listings')

- if @listings.length == 0
  %h2
    =t('listings.no_listings')
- else

%div.container
  %div.layout-grid
    - @listings.each do |listing|
      %div.child
        %h2
          = "Listing##{listing.id.to_s}"
          = " | Last Updated: " + listing.updated_at.strftime('%F')

        %h4
          = link_to 'Show', listing
          \|
          = link_to 'Remove', listing, method: :delete, data: { confirm: 'Are you sure?' }
