%h1
  =t('listings.your_listings')

//if user is not signed in, tell them to sign in to view their listings
- unless current_user.present?
  %div.container
    %div.singular-layout-grid
      %div.child
        %h3
          = t('listings.sign_in_to_see')
        %h4
          = link_to t('user.login'), new_user_session_path
          = '|'
          = link_to t('user.sign_up'), new_user_registration_path

//if the user is signed in but no listing, display no listings message
- if @listings.length == 0 && current_user.present?
  %h2
    =t('listings.no_listings')
- else #if the user has listings, list them
  %div.container
    %div.layout-grid
      - @listings.each do |listing|
        %div.child
          %h2
            = "Listing##{listing.id.to_s}" #display the listing ID and when it was last updated
            = " | Last Updated: " + listing.updated_at.strftime('%F')

          %h4
            = link_to 'Show', listing
            \|
            = link_to 'Remove', listing, method: :delete
