%h1
  = "Listing ##{@listing.id}"

//if the power consumption of all parts is imbalanced, present warning
- if @listing_metadata.first.power_consumption > 0
  %div.container
    %div.singular-layout-grid
      %div.warning-child
        %h2
          = t('warnings.title')
        %p
          = t('warnings.insufficient_power')


//loops all the parts for the listing
%div.container
  %div.layout-grid
    - @part_infos.each do |part_info|
      %div.child
        - part_img = part_info.part_name.downcase.gsub(' ', '-')
        %div.centered-img-container
          //if the image cannot be found it loads the categories image, else it loads the part's image
          %img{:src => (FileTest.exist? Rails.root.join("app/assets/images/products/#{part_img}.jpg")) ? "/assets/products/#{part_img}.jpg" : "/assets/thumbnails/#{image}.jpg", image_alt: part_img, id: part_img}

        //displays info about the part
        %h3
          = part_info.category_name
        %h2
          = part_info.manufacturer_name
          \-
          = part_info.part_name

//lists metadata about the listing
%h1
  = t('listings.list_info')

%div.container
  %div.layout-grid
    %div.child
      //price of the listing
      %h1
        = t('listings.categories.price')
      %p
        = "£#{@listing_metadata.first.total_cost.round}"
    %div.child
      //power consumption data
      %h1
        = t('listings.categories.power')
      - if @listing_metadata.first.power_consumption < 0
        %p
          = "Spare Power Consumption: #{abs(@listing_metadata.first.power_consumption)}"
      - else
        %p
          = "Excess Power Consumption: #{@listing_metadata.first.power_consumption}"
    %div.child
      //stats about different manufacturers or parts selected
      %h1
        = t('listings.categories.stats')
      %p
        = "Part Count: #{@listing_metadata.first.categories_count}"
      %p
        = "Manufacturer Count: #{@listing_metadata.first.manufacturers_count}"

%br
//separate child card to allow saving of a listing
%div.container
  %div.singular-layout-grid
    = link_to listings_path do
      %div.clickable-child
        %h2
          = t('listings.view_listings')
