%header.header-distributed{class: "header", id: "header"}
  :javascript
    var colourNodeHeader = addColourCycleNode('#header', 'header')
    $(document).ready(function() {
      addColourHoverListener(colourNodeHeader)
    })

    window.onscroll = function() {stickHeader()};

    // Get the header
    var header = document.getElementById("header");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function stickHeader() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky-head");
      } else {
        header.classList.remove("sticky-head");
      }
    }

  %h1{id: 'header-text'}
    %a{:href => home_index_path }
      = t('app_title')

  %div.header-nav
    %a{:href => categories_path }
      %p{class: 'header-nav-items'}
        = t('_header.nav-parts')
    %a{:href => manufacturers_path }
      %p{class: 'header-nav-items'}
        = t('_header.nav-manufacturers')
    %a{:href => listings_path }
      %p{class: 'header-nav-items'}
        = t('_header.nav-listings')
    %a{:href => contacts_path }
      %p{class: 'header-nav-items'}
        = t('_header.nav-support')
