!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{id: "body"}

    = render 'shared/header' #renders the header into the file

    %div{class: 'content'}
      = yield

    - if current_page?(home_index_url) #if it is the home page, render the START BUILDING footer, if not, render the standard footer
      = render 'shared/start_building'
    - else
      = render 'shared/footer'